
.lights{
    width: 71px;
    height: 71px;
}
.light-red{
  background-color: red;
}
.light-orange{
   background-color: orange;}
.light-green{
  background-color: green;
 
}
.light-purple{
  background-color: purple;
 
}

.turnOn{
  box-shadow: 0 0 50px 30px #c7d898;
}